body {
  margin: 0px;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inactive {
  display: none !important;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: -75px;
}

.countdown {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  width: 75vw;
  position: relative;
}

.time {
  margin-bottom: 25px;
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.icon {
  width: 200px;
  height: 200px;
  background-image: url('aegis.png');
  background-size: cover;
}

.title {
  margin: 0px;
  margin-bottom: -10px;
  font-family: 'Permanent Marker', cursive;
  font-size: 75px;
  text-align: center;
}

.button {
  width: 250px;
  height: 150px;
  background-color: red;
}

.cover {
  width: 100vw;
  position: absolute;
  left: 75vw;
  background-color: #fefefe;
  height: 50px;
}

.bar {
  height: 50px;
  background-color: yellow;
  border: 2px solid #212121;
}

.rel {
  position: absolute;
  top: 50px;
  font-size: 25px;
}

.rightMost {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.leftMost {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#reclaim {
  width: calc(75vw * (5/11));
  background: #B9500B;
  background: linear-gradient(to left, #A52A2A, #A83806);
}

#minRespawn {
  width: calc(75vw * (3/11));
  background: #257DAE;
  background: linear-gradient(to right, #1A88FC, #257DAE);
}

#maxRespawn {
  width: calc(75vw * (3/11));
  background: #167C13;
  background: linear-gradient(to left, #598307, #167C13);
}
